* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  border-radius: 5px;
  padding: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 42px;
  margin: 5px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status {
  font-size: 12px;
  color: grey;
}

.status span {
  font-size: 6px;
  vertical-align: middle;
}

.chat {
  display: flex;
  flex-direction: column;
}