* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body section {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif
}

.search {
  border-radius: 5px;
  padding: 7px 35px;
  border: 1px solid #bebfc0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

img {
  width: 42px;
  margin: 5px;
  border-radius: 50px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status {
  font-size: 12px;
  color: grey;
}

.status span {
  font-size: 6px;
  vertical-align: middle;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  border: 0.1px solid #bebfc0;
}

.chat section {
  border: 0.1px #bebfc0;
}

.chat-header {
  display: flex;
  align-items: center;
  width: 82vh;
  gap: 5px;
  padding: 10px;
  font-size: 14px;
}

.aiden {
  background-color: #efefef;
  border-radius: 5px;
  margin-top: 10px;
}

.chat-actions {
  width: 100vh;
  display: flex;
  justify-content: end;
  padding: 25px 1px;
  gap: 10px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  line-height: 1;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.message-sent {
  background-color: #e4f1f7;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.message-received {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.timestamp {
  display: inline-block;
  color: grey;
  font-size: 12px;
}

.chat-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  gap: 15px;
}

.enter-text {
  padding: 6px 420px;
  border: 1px solid #bebfc0;
  border-radius: 5px;
  font-display: start;
}